section
{
    float: left;
    padding: 0.5em;
}
textarea
{
    font-size: 80%;
    width: 50em;
    font-family: "Courier New", Courier, monospace;
}
#memoExportFuncs
{
    height: 10em;
}
#memoJsWrapper
{
    height: 30em;
    overflow: scroll;
    white-space: pre;
}

#listFuncs
{
    width: 40em;
    height: 40em;
    font-family: "Courier New", Courier, monospace;
}

.CName, .CSymbol
{
    color: rgb(51, 51, 51);
}
.CType
{
    color: rgb(144, 32, 0);
}
.CFuncName
{
    color: rgb(6, 40, 126);
}