# ignored directories
/abinit
/osra
/psi4
/Gromacs
/antioch
/AutoDock
/imago
/mopac
/NWChem
/OpenMM
/osra
/Inchi/inchi-src
/OpenBabel/OpenBabel-src
/OpenBabel/my_openbabel_test
/OpenBabel3/*.zip
/OpenBabel3/_requires
/OpenBabel3/js-temp
/OpenBabel3/3rdPartyLibs
/OpenBabel3/OpenBabel-src
/OpenBabel3/my_openbabel_test
/Indigo/Indigo-src
/Indigo/my_indigo_test
/Indigo/Indigo1.3.0beta/
/Indigo/Indigo1.4.0beta/
/OpenMD/OpenMD-src

Indigo/Indigo-js/bin/output/*.*
Indigo/Indigo-js/bin/testData/*.*

OpenBabel/OpenBabel_testDataBuilder/bin/data/*.*
OpenBabel/OpenBabel_testDataBuilder/bin/output/*.*

/_instructTests

web.config

#cmake files
CMakeFiles
*.cmake
CMakeCache.txt

#unused make files
makefile.all

#my deprecated files
*.old
*.OLD
*.OLD*
*.old*

#special compiled files
*.O3
*.O2
*.preload.*

#some helper programes
*.sh

#calculation output files
*.omd
*.eor
*.dump
*.report
*.stat
*.result
*.inc

# Zip files
*.rar
*.tar
*.tar.gz
*.tgz

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
