@charset "utf-8";
/* CSS Document */

.DemoSection
{
	border: 1px dotted #ccc;
	border-radius: 0.5em;
	padding: 0.5em;
	line-height: 1.5;
}

.DemoSection label
{
	margin: 0.2em 0.5em;
}

.DemoTextArea, .DemoBlockTextArea
{	
	width: 90%;
	height: 10em;
	margin: 0.2em; /* auto; */
	overflow: auto;
	white-space: pre;
	font-family: "Courier New", Courier, monospace;
	font-size: 100%;
}
.DemoBlockTextArea
{
	display: block;
}

.MolViewer
{
	display: inline-block;
	border: 1px solid #ccc;
}